
a {
  text-decoration: none;
  
}
.lien-nav{
  display: flex;
  font-size: 18px;
  border-bottom: 3px solid  #03a9f4 ;
  width: fit-content;
  
}

li{
  list-style: none;
 margin: 5px;
}
.lien-nav :hover{
  color: #03a9f4;
}


