
a {
  text-decoration: none;
  
}
.lien-nav{
  display: flex;
  font-size: 18px;
  border-bottom: 3px solid  #03a9f4 ;
  margin: 0px;
  padding: 0px 40px;
  justify-content: flex-end;
  position: relative ;
 
}
.list-item{
  padding: 15px 20px;
}
li{
  list-style: none;
}

.list-subMenu{
  border: 2px solid #03a9f4 ;
  position: absolute;
  width: 180px;
  top:100%;
  display: none;
}
.list-item:hover .list-subMenu{
  display: block;
}
ul{
  padding: 0px ;
}
.sub-menu-item:hover{
  background: cornflowerblue;
  color: white;
}


